<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#e0e0e0">
  <link rel="manifest" href="/manifest.webmanifest">
  <title>Mis mese on</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
  <script src="javascripts/index.js"></script>
  <title>Mis mese on?</title>
  <script>var storedLocation = <%-JSON.stringify(storedLocation)%>;</script>
</head>

<body>
  <div id="map"></div>
  <button id="locate-mb">Mis mese on?</button>
  <button id="locate-me">Mis mää oon?</button>
</body>

</html>
